@import "tailwindcss";


:root {
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #3640ff;
}

body {
  margin:0;
}

.buttons button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
}

button {
  /* all: unset; */
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f6f2f2;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
